// http://zhongguose.com
$zhcolor-rubai: #f9f4dc; // 乳白
$zhcolor-xingrenhuang: #f7e8aa; // 杏仁黄
$zhcolor-molihuang: #f8df72; // 茉莉黄
$zhcolor-maiganhuang: #f8df70; // 麦秆黄
$zhcolor-youcaihuahuang: #fbda41; // 油菜花黄
$zhcolor-foshouhuang: #fed71a; // 佛手黄
$zhcolor-miehuang: #f7de98; // 篾黄
$zhcolor-kuishanhuang: #f8d86a; // 葵扇黄
$zhcolor-ningmenghuang: #fcd337; // 柠檬黄
$zhcolor-jinguahuang: #fcd217; // 金瓜黄
$zhcolor-tenghuang: #ffd111; // 藤黄
$zhcolor-laohuang: #f6dead; // 酪黄
$zhcolor-xiangshuimeiguihuang: #f7da94; // 香水玫瑰黄
$zhcolor-danmihuang: #f9d367; // 淡密黄
$zhcolor-dadouhuang: #fbcd31; // 大豆黄
$zhcolor-suxinhuang: #fccb16; // 素馨黄
$zhcolor-xiangrikuihuang: #fecc11; // 向日葵黄
$zhcolor-yalihuang: #fbc82f; // 雅梨黄
$zhcolor-huanglianhuang: #fcc515; // 黄连黄
$zhcolor-jinzhanhuang: #fcc307; // 金盏黄
$zhcolor-dankehuang: #f8c387; // 蛋壳黄
$zhcolor-rouse: #f7c173; // 肉色
$zhcolor-ezhanghuang: #fbb929; // 鹅掌黄
$zhcolor-jidanhuang: #fbb612; // 鸡蛋黄
$zhcolor-youhuang: #fcb70a; // 鼬黄
$zhcolor-liuehuang: #f9a633; // 榴萼黄
$zhcolor-danjucheng: #fba414; // 淡橘橙
$zhcolor-pipahuang: #fca106; // 枇杷黄
$zhcolor-chengpihuang: #fca104; // 橙皮黄
$zhcolor-beiguahuang: #fc8c23; // 北瓜黄
$zhcolor-xinghuang: #f28e16; // 杏黄
$zhcolor-xionghuang: #ff9900; // 雄黄
$zhcolor-wanshoujuhuang: #fb8b05; // 万寿菊黄
$zhcolor-juleibai: #e9ddb6; // 菊蕾白
$zhcolor-qiukuihuang: #eed045; // 秋葵黄
$zhcolor-liuhuahuang: #f2ce2b; // 硫华黄
$zhcolor-youhuang: #f1ca17; // 柚黄
$zhcolor-mangguohuang: #ddc871; // 芒果黄
$zhcolor-haohuang: #dfc243; // 蒿黄
$zhcolor-jianghuang: #e2c027; // 姜黄
$zhcolor-xiangjiaohuang: #e4bf11; // 香蕉黄
$zhcolor-caohuang: #d2b42c; // 草黄
$zhcolor-xinhelv: #d2b116; // 新禾绿
$zhcolor-yuehui: #b7ae8f; // 月灰
$zhcolor-danhuilv: #ad9e5f; // 淡灰绿
$zhcolor-caohuilv: #8e804b; // 草灰绿
$zhcolor-tailv: #887322; // 苔绿
$zhcolor-biluochunlv: #867018; // 碧螺春绿
$zhcolor-yanyuhui: #685e48; // 燕羽灰
$zhcolor-xiekehui: #695e45; // 蟹壳灰
$zhcolor-tanshuilv: #645822; // 潭水绿
$zhcolor-ganlanlv: #5e5314; // 橄榄绿
$zhcolor-bangroubai: #f9f1db; // 蚌肉白
$zhcolor-douzhihuang: #f8e8c1; // 豆汁黄
$zhcolor-danjianhuang: #f9d770; // 淡茧黄
$zhcolor-ruyahuang: #ffc90c; // 乳鸭黄
$zhcolor-liroubai: #f2e6ce; // 荔肉白
$zhcolor-xiangyahuang: #f0d695; // 象牙黄
$zhcolor-chaomihuang: #f4ce69; // 炒米黄
$zhcolor-yingwuguanhuang: #f6c430; // 鹦鹉冠黄
$zhcolor-muguahuang: #f9c116; // 木瓜黄
$zhcolor-qianlaohuang: #f9bd10; // 浅烙黄
$zhcolor-lianzibai: #e5d3aa; // 莲子白
$zhcolor-guhuang: #e8b004; // 谷黄
$zhcolor-zhizihuang: #ebb10d; // 栀子黄
$zhcolor-jiehuang: #d9a40e; // 芥黄
$zhcolor-yinshuhui: #b5aa90; // 银鼠灰
$zhcolor-chenhui: #b6a476; // 尘灰
$zhcolor-kulv: #b78d12; // 枯绿
$zhcolor-jiaoqing: #87723e; // 鲛青
$zhcolor-zongyelv: #876818; // 粽叶绿
$zhcolor-huilv: #8a6913; // 灰绿
$zhcolor-hehui: #4a4035; // 鹤灰
$zhcolor-dansongyan: #4d4030; // 淡松烟
$zhcolor-anhaishuilv: #584717; // 暗海水绿
$zhcolor-zonglvlv: #5b4913; // 棕榈绿
$zhcolor-mise: #f9e9cd; // 米色
$zhcolor-danrouse: #f8e0b0; // 淡肉色
$zhcolor-maiyatanghuang: #f9d27d; // 麦芽糖黄
$zhcolor-hupohuang: #feba07; // 琥珀黄
$zhcolor-gancaohuang: #f3bf4c; // 甘草黄
$zhcolor-chushuxinghuang: #f8bc31; // 初熟杏黄
$zhcolor-qiantuose: #e2c17c; // 浅驼色
$zhcolor-shashihuang: #e5b751; // 沙石黄
$zhcolor-hupihuang: #eaad1a; // 虎皮黄
$zhcolor-tuhuang: #d6a01d; // 土黄
$zhcolor-bailingniaohui: #b4a992; // 百灵鸟灰
$zhcolor-shanjihuang: #b78b26; // 山鸡黄
$zhcolor-guibeihuang: #826b48; // 龟背黄
$zhcolor-canghuang: #806332; // 苍黄
$zhcolor-laiyanglihuang: #815f25; // 莱阳梨黄
$zhcolor-yililv: #835e1d; // 蜴蜊绿
$zhcolor-songshuhui: #4f4032; // 松鼠灰
$zhcolor-ganlanhui: #503e2a; // 橄榄灰
$zhcolor-xiekelv: #513c20; // 蟹壳绿
$zhcolor-gutonglv: #533c1b; // 古铜绿
$zhcolor-jiaochalv: #553b18; // 焦茶绿
$zhcolor-fenbai: #fbf2e3; // 粉白
$zhcolor-luoyingdanfen: #f9e8d0; // 落英淡粉
$zhcolor-guarangfen: #f9cb8b; // 瓜瓤粉
$zhcolor-mihuang: #fbb957; // 蜜黄
$zhcolor-jinyehuang: #ffa60f; // 金叶黄
$zhcolor-jinyinghuang: #f4a83a; // 金莺黄
$zhcolor-lujiaozong: #e3bd8d; // 鹿角棕
$zhcolor-diaoyezong: #e7a23f; // 凋叶棕
$zhcolor-daimaohuang: #daa45a; // 玳瑁黄
$zhcolor-ruanmuhuang: #de9e44; // 软木黄
$zhcolor-fengfanhuang: #dc9123; // 风帆黄
$zhcolor-guipidanzong: #c09351; // 桂皮淡棕
$zhcolor-houmaohui: #97846c; // 猴毛灰
$zhcolor-shanjihe: #986524; // 山鸡褐
$zhcolor-tuose: #66462a; // 驼色
$zhcolor-chahe: #5d3d21; // 茶褐
$zhcolor-gutonghe: #5c3719; // 古铜褐
$zhcolor-hehuabai: #fbecde; // 荷花白
$zhcolor-meiguifen: #f8b37f; // 玫瑰粉
$zhcolor-jucheng: #f97d1c; // 橘橙
$zhcolor-meirenjiaocheng: #fa7e23; // 美人焦橙
$zhcolor-runhong: #f7cdbc; // 润红
$zhcolor-dantaohong: #f6cec1; // 淡桃红
$zhcolor-hailuocheng: #f0945d; // 海螺橙
$zhcolor-taohong: #f0ada0; // 桃红
$zhcolor-jiahong: #eeaa9c; // 颊红
$zhcolor-danyingsuhong: #eea08c; // 淡罂粟红
$zhcolor-chenxihong: #ea8958; // 晨曦红
$zhcolor-xiekehong: #f27635; // 蟹壳红
$zhcolor-jinlianhuacheng: #f86b1d; // 金莲花橙
$zhcolor-caomeihong: #ef6f48; // 草莓红
$zhcolor-longjingyuhong: #ef632b; // 龙睛鱼红
$zhcolor-qingtinghong: #f1441d; // 蜻蜓红
$zhcolor-dahong: #f04b22; // 大红
$zhcolor-shihong: #f2481b; // 柿红
$zhcolor-liuhuahong: #f34718; // 榴花红
$zhcolor-yinzhu: #f43e06; // 银朱
$zhcolor-zhuhong: #ed5126; // 朱红
$zhcolor-guiyuhong: #f09c5a; // 鲑鱼红
$zhcolor-jinhuang: #f26b1f; // 金黄
$zhcolor-lupihe: #d99156; // 鹿皮褐
$zhcolor-zuiguarou: #db8540; // 醉瓜肉
$zhcolor-jizong: #de7622; // 麂棕
$zhcolor-danyinhui: #c1b2a3; // 淡银灰
$zhcolor-danzhe: #be7e4a; // 淡赭
$zhcolor-binglangzong: #c1651a; // 槟榔综
$zhcolor-yinhui: #918072; // 银灰
$zhcolor-haiouhui: #9a8878; // 海鸥灰
$zhcolor-dankafei: #945833; // 淡咖啡
$zhcolor-yanshizong: #964d22; // 岩石棕
$zhcolor-mangguozong: #954416; // 芒果棕
$zhcolor-shibanhui: #624941; // 石板灰
$zhcolor-zhumuhui: #64483d; // 珠母灰
$zhcolor-dingxiangzong: #71361d; // 丁香棕
$zhcolor-kafei: #753117; // 咖啡
$zhcolor-sunpizong: #732e12; // 筍皮棕
$zhcolor-yanhanhong: #fc6315; // 燕颔红
$zhcolor-yufenhong: #e8b49a; // 玉粉红
$zhcolor-jintuo: #e46828; // 金驼
$zhcolor-tiezong: #d85916; // 铁棕
$zhcolor-zhuwanghui: #b7a091; // 蛛网灰
$zhcolor-dankekezong: #b7511d; // 淡可可棕
$zhcolor-zhonghonghui: #8b614d; // 中红灰
$zhcolor-dantuhuang: #8c4b31; // 淡土黄
$zhcolor-dandousha: #873d24; // 淡豆沙
$zhcolor-yekezong: #883a1e; // 椰壳棕
$zhcolor-dantiehui: #5b423a; // 淡铁灰
$zhcolor-zhonghuituo: #603d30; // 中灰驼
$zhcolor-danlizong: #673424; // 淡栗棕
$zhcolor-kekezong: #652b1c; // 可可棕
$zhcolor-zhayezong: #692a1b; // 柞叶棕
$zhcolor-yeqiangweihong: #fb9968; // 野蔷薇红
$zhcolor-boluohong: #fc7930; // 菠萝红
$zhcolor-ouhe: #edc3ae; // 藕荷
$zhcolor-taocihong: #e16723; // 陶瓷红
$zhcolor-xiaohui: #d4c4b7; // 晓灰
$zhcolor-yujinhong: #cf7543; // 余烬红
$zhcolor-huozhuanhong: #cd6227; // 火砖红
$zhcolor-huonizong: #aa6a4c; // 火泥棕
$zhcolor-ganhong: #a6522c; // 绀红
$zhcolor-xiangshuzong: #773d31; // 橡树棕
$zhcolor-haibaohui: #483332; // 海报灰
$zhcolor-meiguihui: #4b2e2b; // 玫瑰灰
$zhcolor-huoshanzong: #482522; // 火山棕
$zhcolor-dousha: #481e1c; // 豆沙
$zhcolor-danmifen: #fbeee2; // 淡米粉
$zhcolor-chutaofenhong: #f6dcce; // 初桃粉红
$zhcolor-jieqiaodanfenhong: #f7cfba; // 介壳淡粉红
$zhcolor-dancanghuahong: #f6ad8f; // 淡藏花红
$zhcolor-guaranghong: #f68c60; // 瓜瓤红
$zhcolor-furonghong: #f9723d; // 芙蓉红
$zhcolor-meijianghong: #fa5d19; // 莓酱红
$zhcolor-faluohong: #ee8055; // 法螺红
$zhcolor-luoxiahong: #cf4813; // 落霞红
$zhcolor-danmeiguihui: #b89485; // 淡玫瑰灰
$zhcolor-xiemaohong: #b14b28; // 蟹蝥红
$zhcolor-huoyanzong: #863020; // 火岩棕
$zhcolor-zheshi: #862617; // 赭石
$zhcolor-antuozong: #592620; // 暗驼棕
$zhcolor-jiangzong: #5a1f1b; // 酱棕
$zhcolor-lizong: #5c1e19; // 栗棕
$zhcolor-yangshuixianhong: #f4c7ba; // 洋水仙红
$zhcolor-guqiaohong: #f17666; // 谷鞘红
$zhcolor-pingguohong: #f15642; // 苹果红
$zhcolor-tieshuihong: #f5391c; // 铁水红
$zhcolor-guihong: #f25a47; // 桂红
$zhcolor-jiguanghong: #f33b1f; // 极光红
$zhcolor-fenhong: #f2b9b2; // 粉红
$zhcolor-shehong: #f19790; // 舌红
$zhcolor-quhong: #f05a46; // 曲红
$zhcolor-honggonghong: #f23e23; // 红汞红
$zhcolor-danfei: #f2cac9; // 淡绯
$zhcolor-wuhuaguohong: #efafad; // 无花果红
$zhcolor-liuzihong: #f1908c; // 榴子红
$zhcolor-yanzhihong: #f03f24; // 胭脂红
$zhcolor-hehuanhong: #f0a1a8; // 合欢红
$zhcolor-chunmeihong: #f1939c; // 春梅红
$zhcolor-xiangyehong: #f07c82; // 香叶红
$zhcolor-shanhuhong: #f04a3a; // 珊瑚红
$zhcolor-luobohong: #f13c22; // 萝卜红
$zhcolor-danqianhong: #e77c8e; // 淡茜红
$zhcolor-yanhong: #ed5a65; // 艳红
$zhcolor-danshuhong: #ed4845; // 淡菽红
$zhcolor-yusaihong: #ed3b2f; // 鱼鳃红
$zhcolor-yingtaohong: #ed3321; // 樱桃红
$zhcolor-danruixianghong: #ee4866; // 淡蕊香红
$zhcolor-shizhuhong: #ee4863; // 石竹红
$zhcolor-caomolihong: #ef475d; // 草茉莉红
$zhcolor-chahuahong: #ee3f4d; // 茶花红
$zhcolor-goushuhong: #ed3333; // 枸枢红
$zhcolor-qiuhaitanghong: #ec2b24; // 秋海棠红
$zhcolor-lichunhong: #eb261a; // 丽春红
$zhcolor-xiyanghong: #de2a18; // 夕阳红
$zhcolor-hedinghong: #d42517; // 鹤顶红
$zhcolor-exueshihong: #ab372f; // 鹅血石红
$zhcolor-fupenzihong: #ac1f18; // 覆盆子红
$zhcolor-diaozi: #5d3131; // 貂紫
$zhcolor-anyuzi: #5c2223; // 暗玉紫
$zhcolor-lizi: #5a191b; // 栗紫
$zhcolor-putaojiangzi: #5a1216; // 葡萄酱紫
$zhcolor-mudanfenhong: #eea2a4; // 牡丹粉红
$zhcolor-shanchahong: #ed556a; // 山茶红
$zhcolor-haitanghong: #f03752; // 海棠红
$zhcolor-yuhong: #c04851; // 玉红
$zhcolor-gaolianghong: #c02c38; // 高粱红
$zhcolor-manjianghong: #a7535a; // 满江红
$zhcolor-zaohong: #7c1823; // 枣红
$zhcolor-putaozi: #4c1f24; // 葡萄紫
$zhcolor-jiangzi: #4d1018; // 酱紫
$zhcolor-danshuhong: #ee2746; // 淡曙红
$zhcolor-tangchangpuhong: #de1c31; // 唐菖蒲红
$zhcolor-eguanhong: #d11a2d; // 鹅冠红
$zhcolor-meihong: #c45a65; // 莓红
$zhcolor-fengyehong: #c21f30; // 枫叶红
$zhcolor-xiancaihong: #a61b29; // 苋菜红
$zhcolor-yanhong: #894e54; // 烟红
$zhcolor-anziyuanhong: #82202b; // 暗紫苑红
$zhcolor-yanhong: #82111f; // 殷红
$zhcolor-zhuganzi: #541e24; // 猪肝紫
$zhcolor-jinyuzi: #500a16; // 金鱼紫
$zhcolor-caozhuhong: #f8ebe6; // 草珠红
$zhcolor-danjianghong: #ec7696; // 淡绛红
$zhcolor-pinhong: #ef3473; // 品红
$zhcolor-fengxianhuahong: #ea7293; // 凤仙花红
$zhcolor-fentuanhuahong: #ec9bad; // 粉团花红
$zhcolor-jiazhutaohong: #eb507e; // 夹竹桃红
$zhcolor-wenpohong: #ed2f6a; // 榲桲红
$zhcolor-jianghong: #eeb8c3; // 姜红
$zhcolor-lianbanhong: #ea517f; // 莲瓣红
$zhcolor-shuihong: #f1c4cd; // 水红
$zhcolor-baochunhong: #ec8aa4; // 报春红
$zhcolor-yuejihong: #ce5777; // 月季红
$zhcolor-jiangdouhong: #ed9db2; // 豇豆红
$zhcolor-xiaguanghong: #ef82a0; // 霞光红
$zhcolor-songyemudanhong: #eb3c70; // 松叶牡丹红
$zhcolor-xidanhong: #ec2c64; // 喜蛋红
$zhcolor-shubihong: #e3b4b8; // 鼠鼻红
$zhcolor-jianjingyuhong: #cc163a; // 尖晶玉红
$zhcolor-shanlidouhong: #c27c88; // 山黎豆红
$zhcolor-jinkuihong: #bf3553; // 锦葵红
$zhcolor-shubeihui: #73575c; // 鼠背灰
$zhcolor-ganzhezi: #621624; // 甘蔗紫
$zhcolor-shizhuzi: #63071c; // 石竹紫
$zhcolor-cangyinghui: #36282b; // 苍蝇灰
$zhcolor-luanshizi: #30161c; // 卵石紫
$zhcolor-lizi: #2b1216; // 李紫
$zhcolor-qiepizi: #2d0c13; // 茄皮紫
$zhcolor-diaozhonghuahong: #ce5e8a; // 吊钟花红
$zhcolor-tuyanhong: #ec4e8a; // 兔眼红
$zhcolor-zijinghong: #ee2c79; // 紫荆红
$zhcolor-caitouzi: #951c48; // 菜头紫
$zhcolor-yaoguanzi: #621d34; // 鹞冠紫
$zhcolor-putaojiuhong: #62102e; // 葡萄酒红
$zhcolor-moshizi: #382129; // 磨石紫
$zhcolor-tanzi: #381924; // 檀紫
$zhcolor-huoezi: #33141e; // 火鹅紫
$zhcolor-mozi: #310f1b; // 墨紫
$zhcolor-jinghong: #eea6b7; // 晶红
$zhcolor-biandouhuahong: #ef498b; // 扁豆花红
$zhcolor-baijihong: #de7897; // 白芨红
$zhcolor-nenlinghong: #de3f7c; // 嫩菱红
$zhcolor-bogenhong: #d13c74; // 菠根红
$zhcolor-cujiangcaohong: #c5708b; // 酢酱草红
$zhcolor-yangcongzi: #a8456b; // 洋葱紫
$zhcolor-haixiangzi: #4b1e2f; // 海象紫
$zhcolor-ganzi: #461629; // 绀紫
$zhcolor-gutongzi: #440e25; // 古铜紫
$zhcolor-shiruihong: #f0c9cf; // 石蕊红
$zhcolor-shaoyaogenghong: #eba0b3; // 芍药耕红
$zhcolor-canghuahong: #ec2d7a; // 藏花红
$zhcolor-chuhehong: #e16c96; // 初荷红
$zhcolor-mabiancaozi: #ede3e7; // 马鞭草紫
$zhcolor-dingxiangdanzi: #e9d7df; // 丁香淡紫
$zhcolor-danzihong: #d2568c; // 丹紫红
$zhcolor-meiguihong: #d2357d; // 玫瑰红
$zhcolor-danqianniuzi: #d1c2d3; // 淡牵牛紫
$zhcolor-fengxinzi: #c8adc4; // 凤信紫
$zhcolor-luolanzi: #c08eaf; // 萝兰紫
$zhcolor-meiguizi: #ba2f7b; // 玫瑰紫
$zhcolor-tengluozi: #8076a3; // 藤萝紫
$zhcolor-jinzi: #806d9e; // 槿紫
$zhcolor-xunzi: #815c94; // 蕈紫
$zhcolor-jiegengzi: #813c85; // 桔梗紫
$zhcolor-weizi: #7e1671; // 魏紫
$zhcolor-zhilanzi: #e9ccd3; // 芝兰紫
$zhcolor-lingmenghong: #d276a3; // 菱锰红
$zhcolor-longxuhong: #cc5595; // 龙须红
$zhcolor-jifenhong: #e6d2d5; // 蓟粉红
$zhcolor-dianqishihong: #c35691; // 电气石红
$zhcolor-yingcaozi: #c06f98; // 樱草紫
$zhcolor-lusuihui: #bdaead; // 芦穗灰
$zhcolor-yinhonghui: #b598a1; // 隐红灰
$zhcolor-xiancaizi: #9b1e64; // 苋菜紫
$zhcolor-luhui: #856d72; // 芦灰
$zhcolor-muyunhui: #4f383e; // 暮云灰
$zhcolor-banjiuhui: #482936; // 斑鸠灰
$zhcolor-dantengluozi: #f2e7e5; // 淡藤萝紫
$zhcolor-danqingzi: #e0c8d1; // 淡青紫
$zhcolor-qinghakezi: #bc84a8; // 青蛤壳紫
$zhcolor-doukouzi: #ad6598; // 豆蔻紫
$zhcolor-biandouzi: #a35c8f; // 扁豆紫
$zhcolor-jiehuazi: #983680; // 芥花紫
$zhcolor-qinglian: #8b2671; // 青莲
$zhcolor-zizi: #894276; // 芓紫
$zhcolor-gejinzi: #7e2065; // 葛巾紫
$zhcolor-qianniuzi: #681752; // 牵牛紫
$zhcolor-zihui: #5d3f51; // 紫灰
$zhcolor-longjingyuzi: #4e2a40; // 龙睛鱼紫
$zhcolor-biqizi: #411c35; // 荸荠紫
$zhcolor-gudinghui: #36292f; // 古鼎灰
$zhcolor-wumeizi: #1e131d; // 乌梅紫
$zhcolor-shenqianniuzi: #1c0d1a; // 深牵牛紫
$zhcolor-yinbai: #f1f0ed; // 银白
$zhcolor-qianshibai: #e2e1e4; // 芡食白
$zhcolor-yuanshanzi: #ccccd6; // 远山紫
$zhcolor-danlanzi: #a7a8bd; // 淡蓝紫
$zhcolor-shangengzi: #61649f; // 山梗紫
$zhcolor-luodianzi: #74759b; // 螺甸紫
$zhcolor-manaohui: #cfccc9; // 玛瑙灰
$zhcolor-yejuzi: #525288; // 野菊紫
$zhcolor-mantianxingzi: #2e317c; // 满天星紫
$zhcolor-xinhui: #7a7374; // 锌灰
$zhcolor-yeputaozi: #302f4b; // 野葡萄紫
$zhcolor-jianfengzi: #3e3841; // 剑锋紫
$zhcolor-longkuizi: #322f3b; // 龙葵紫
$zhcolor-anlongdanzi: #22202e; // 暗龙胆紫
$zhcolor-jingshizi: #1f2040; // 晶石紫
$zhcolor-anlanzi: #131124; // 暗蓝紫
$zhcolor-jingtailan: #2775b6; // 景泰蓝
$zhcolor-niluolan: #2474b5; // 尼罗蓝
$zhcolor-yuantianlan: #d0dfe6; // 远天蓝
$zhcolor-xinglan: #93b5cf; // 星蓝
$zhcolor-yushandoulan: #619ac3; // 羽扇豆蓝
$zhcolor-huaqing: #2376b7; // 花青
$zhcolor-jinglan: #5698c3; // 睛蓝
$zhcolor-honglan: #2177b8; // 虹蓝
$zhcolor-hushuilan: #b0d5df; // 湖水蓝
$zhcolor-qiubolan: #8abcd1; // 秋波蓝
$zhcolor-jianshilan: #66a9c9; // 涧石蓝
$zhcolor-chaolan: #2983bb; // 潮蓝
$zhcolor-qunqing: #1772b4; // 群青
$zhcolor-jiqing: #63bbd0; // 霁青
$zhcolor-biqing: #5cb3cc; // 碧青
$zhcolor-baoshilan: #2486b9; // 宝石蓝
$zhcolor-tianlan: #1677b3; // 天蓝
$zhcolor-bolinlan: #126bae; // 柏林蓝
$zhcolor-haiqing: #22a2c3; // 海青
$zhcolor-gulan: #1a94bc; // 钴蓝
$zhcolor-yuanweilan: #158bb8; // 鸢尾蓝
$zhcolor-qianniuhualan: #1177b0; // 牵牛花蓝
$zhcolor-feiyancaolan: #0f59a4; // 飞燕草蓝
$zhcolor-pinlan: #2b73af; // 品蓝
$zhcolor-yinyubai: #cdd1d3; // 银鱼白
$zhcolor-ananlan: #3170a7; // 安安蓝
$zhcolor-yuweihui: #5e616d; // 鱼尾灰
$zhcolor-jingyuhui: #475164; // 鲸鱼灰
$zhcolor-haishenhui: #fffefa; // 海参灰
$zhcolor-shayuhui: #35333c; // 沙鱼灰
$zhcolor-ganglan: #0f1423; // 钢蓝
$zhcolor-yunshuilan: #baccd9; // 云水蓝
$zhcolor-qingshanlan: #8fb2c9; // 晴山蓝
$zhcolor-dianqing: #1661ab; // 靛青
$zhcolor-dalishihui: #c4cbcf; // 大理石灰
$zhcolor-haitaolan: #15559a; // 海涛蓝
$zhcolor-diechilan: #4e7ca1; // 蝶翅蓝
$zhcolor-haijunlan: #346c9c; // 海军蓝
$zhcolor-shuiniuhui: #2f2f35; // 水牛灰
$zhcolor-niujiaohui: #2d2e36; // 牛角灰
$zhcolor-yanhanlan: #131824; // 燕颔蓝
$zhcolor-yunfengbai: #d8e3e7; // 云峰白
$zhcolor-jingtianlan: #c3d7df; // 井天蓝
$zhcolor-yunshanlan: #2f90b9; // 云山蓝
$zhcolor-youlan: #1781b5; // 釉蓝
$zhcolor-oulan: #c7d2d4; // 鸥蓝
$zhcolor-tangcilan: #11659a; // 搪磁蓝
$zhcolor-yueyingbai: #c0c4c3; // 月影白
$zhcolor-xinghui: #b2bbbe; // 星灰
$zhcolor-danlanhui: #5e7987; // 淡蓝灰
$zhcolor-yanlan: #144a74; // 鷃蓝
$zhcolor-nenhui: #74787a; // 嫩灰
$zhcolor-zhanjianhui: #495c69; // 战舰灰
$zhcolor-waguanhui: #47484c; // 瓦罐灰
$zhcolor-qinghui: #2b333e; // 青灰
$zhcolor-gelan: #1c2938; // 鸽蓝
$zhcolor-gangqing: #142334; // 钢青
$zhcolor-anlan: #101f30; // 暗蓝
$zhcolor-yuebai: #eef7f2; // 月白
$zhcolor-haitianlan: #c6e6e8; // 海天蓝
$zhcolor-qingshuilan: #93d5dc; // 清水蓝
$zhcolor-pubulan: #51c4d3; // 瀑布蓝
$zhcolor-weilan: #29b7cb; // 蔚蓝
$zhcolor-kongquelan: #0eb0c9; // 孔雀蓝
$zhcolor-dianzilan: #10aec2; // 甸子蓝
$zhcolor-shilv: #57c3c2; // 石绿
$zhcolor-zhuhuanglv: #b9dec9; // 竹篁绿
$zhcolor-fenlv: #83cbac; // 粉绿
$zhcolor-meidielv: #12aa9c; // 美蝶绿
$zhcolor-maolv: #66c18c; // 毛绿
$zhcolor-koushaolv: #5dbe8a; // 蔻梢绿
$zhcolor-maimiaolv: #55bb8a; // 麦苗绿
$zhcolor-walv: #45b787; // 蛙绿
$zhcolor-tonglv: #2bae85; // 铜绿
$zhcolor-zhulv: #1ba784; // 竹绿
$zhcolor-lanlv: #12a182; // 蓝绿
$zhcolor-qionghui: #c4d7d6; // 穹灰
$zhcolor-cuilan: #1e9eb3; // 翠蓝
$zhcolor-danfanlan: #0f95b0; // 胆矾蓝
$zhcolor-jianniaolan: #1491a8; // 樫鸟蓝
$zhcolor-shanlan: #7cabb1; // 闪蓝
$zhcolor-bingshanlan: #a4aca7; // 冰山蓝
$zhcolor-xiakeqing: #869d9d; // 虾壳青
$zhcolor-wanbolan: #648e93; // 晚波蓝
$zhcolor-qingtinglan: #3b818c; // 蜻蜓蓝
$zhcolor-yuqinlan: #126e82; // 玉鈫蓝
$zhcolor-ehui: #737c7b; // 垩灰
$zhcolor-xiayunhui: #617172; // 夏云灰
$zhcolor-canglan: #134857; // 苍蓝
$zhcolor-huanghunhui: #474b4c; // 黄昏灰
$zhcolor-huilan: #21373d; // 灰蓝
$zhcolor-shenhuilan: #132c33; // 深灰蓝
$zhcolor-yuzanlv: #a4cab6; // 玉簪绿
$zhcolor-qingfanlv: #2c9678; // 青矾绿
$zhcolor-caoyuanyuanlv: #9abeaf; // 草原远绿
$zhcolor-wuzhilv: #69a794; // 梧枝绿
$zhcolor-langhualv: #92b3a5; // 浪花绿
$zhcolor-haiwanglv: #248067; // 海王绿
$zhcolor-yadinglv: #428675; // 亚丁绿
$zhcolor-niehui: #9fa39a; // 镍灰
$zhcolor-minghui: #8a988e; // 明灰
$zhcolor-danlvhui: #70887d; // 淡绿灰
$zhcolor-feiquanlv: #497568; // 飞泉绿
$zhcolor-langyanhui: #5d655f; // 狼烟灰
$zhcolor-lvhui: #314a43; // 绿灰
$zhcolor-canglv: #223e36; // 苍绿
$zhcolor-shenhailv: #1a3b32; // 深海绿
$zhcolor-changshihui: #363433; // 长石灰
$zhcolor-ganlanlv: #1f2623; // 苷蓝绿
$zhcolor-mangconglv: #141e1b; // 莽丛绿
$zhcolor-dancuilv: #c6dfc8; // 淡翠绿
$zhcolor-minglv: #9eccab; // 明绿
$zhcolor-tianyuanlv: #68b88e; // 田园绿
$zhcolor-cuilv: #20a162; // 翠绿
$zhcolor-danlv: #61ac85; // 淡绿
$zhcolor-conglv: #40a070; // 葱绿
$zhcolor-kongquelv: #229453; // 孔雀绿
$zhcolor-ailv: #cad3c3; // 艾绿
$zhcolor-chanlv: #3c9566; // 蟾绿
$zhcolor-gongdianlv: #20894d; // 宫殿绿
$zhcolor-songshuanglv: #83a78d; // 松霜绿
$zhcolor-danbaishilv: #579572; // 蛋白石绿
$zhcolor-bohelv: #207f4c; // 薄荷绿
$zhcolor-wasonglv: #6e8b74; // 瓦松绿
$zhcolor-heyelv: #1a6840; // 荷叶绿
$zhcolor-tianluolv: #5e665b; // 田螺绿
$zhcolor-baiqucailv: #485b4d; // 白屈菜绿
$zhcolor-hetunhui: #393733; // 河豚灰
$zhcolor-enyoulv: #373834; // 蒽油绿
$zhcolor-hujishenglv: #2b312c; // 槲寄生绿
$zhcolor-yunshanlv: #15231b; // 云杉绿
$zhcolor-nenjulv: #f0f5e5; // 嫩菊绿
$zhcolor-aibeilv: #dfecd5; // 艾背绿
$zhcolor-jialingshuilv: #add5a2; // 嘉陵水绿
$zhcolor-yusuilv: #41b349; // 玉髓绿
$zhcolor-xianlv: #43b244; // 鲜绿
$zhcolor-baoshilv: #41ae3c; // 宝石绿
$zhcolor-haimeilv: #e2e7bf; // 海沬绿
$zhcolor-yaohuang: #d0deaa; // 姚黄
$zhcolor-ganlanshilv: #b2cf87; // 橄榄石绿
$zhcolor-shuilv: #8cc269; // 水绿
$zhcolor-luweilv: #b7d07a; // 芦苇绿
$zhcolor-huaihuahuanglv: #d2d97a; // 槐花黄绿
$zhcolor-pingguolv: #bacf65; // 苹果绿
$zhcolor-yalv: #96c24e; // 芽绿
$zhcolor-diehuang: #e2d849; // 蝶黄
$zhcolor-ganlanhuanglv: #bec936; // 橄榄黄绿
$zhcolor-yingwulv: #5bae23; // 鹦鹉绿
$zhcolor-youlv: #253d24; // 油绿
$zhcolor-xiangyabai: #fffef8; // 象牙白
$zhcolor-hanbaiyu: #f8f4ed; // 汉白玉
$zhcolor-xuebai: #fffef9; // 雪白
$zhcolor-yudubai: #f7f4ed; // 鱼肚白
$zhcolor-zhenzhuhui: #e4dfd7; // 珍珠灰
$zhcolor-qianhui: #dad4cb; // 浅灰
$zhcolor-qianhui: #bbb5ac; // 铅灰
$zhcolor-zhonghui: #bbb5ac; // 中灰
$zhcolor-wahui: #867e76; // 瓦灰
$zhcolor-yehui: #847c74; // 夜灰
$zhcolor-yanhui: #80766e; // 雁灰
$zhcolor-shenhui: #81776e; // 深灰